@CHARSET "EUC-KR";
.whole-wrapper{
	margin:15px;
}
.comment-wrapper {
	padding: 10px;
	margin-bottom:10px;
	border: 1px dotted #c9302c;
	border-radius: 10px;
}

.commentTitle {
	font-weight: bolder;
}

.commentName {
	background-color: #000000;
}
.comment-comment-write {
	overflow: hidden;
}
.comment-comment-textarea {
	float: left;
	margin-left: 140px;
	margin-bottom: 20px;
}
.comment-comment-button {
	margin:10px;
	float: left;
}
.comment-comment-modify-button {
	margin:10px;
	float: left;
}
.comment-comment-cancel-button {
	margin-top:10px;
	float: left;
}
.comment-comment-list {
	width: 550px;
	margin-left: 150px;
	margin-top: -10px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px dotted #989898;
	border-radius: 1px;
}
.comment {
	word-break:break-all
}