@CHARSET "EUC-KR";
.whole-wrapper{
	margin:15px;
}
.answer-title {
	font-weight: bold;
}
.answer-content-wrapper {
	padding: 10px;
	margin-bottom:10px;
	border: 1px dotted #c9302c;
	border-radius: 10px;
}

.answer-time {
	background-color: #000000;
}
.comment-write {
	overflow: hidden;
}
.comment-textarea {
	float: left;
	margin-left: 140px;
	margin-top:15px;
	margin-bottom: 20px;
}
.comment-button {
	margin:10px;
	float: left;
}

.comment-list {
	
	width: 500px;
	margin-left: 120px;
	margin-top: 10px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px dotted #989898;
	border-radius: 1px;
}
.comment {
	word-break:break-all
}