#content-summary {
	line-height: 20px;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	word-wrap: break-word;
}
.col-md-8 {
	max-width: none !important;
}
.board-writer {
	display: inline;
	text-align:right;
	padding: 10px;
	background-color:#eee;
	color:black;
	
}