.category-list-group-item {
	overflow:hidden;
	margin:15px 0;
	height:40px;
	width:50%;
}
.category-list-1{
	float:left;
	width:50%;
	line-height:40px;
	text-align: center;
}
.category-list-2{
	line-height:40px;
	float:left;
}