.contact-comment-whole-wrapper {
	border: 1px dotted #aaa;
	border-radius: 10px;
	padding:10px;
	word-break:break-all
}
.list-group-item{
	overflow:hidden;
}
.list-1{
	float:left;
	width:70%;
}
.list-2{
	float:left;
	width:20%;
}
.list-3{
	float:left;
	width:10%;
}
.contact-title {
	font-size: 0.9em;
}