.container header{
	overflow: hidden;
}
.home btn{
	float: left;
	text-decoration: none;
	
	font-size: 3em;
}
.home welcome{
	float: left;
}
#content-summary {
	line-height: 20px;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	word-wrap: break-word;
}

.notice-title {
	background-color: #337ab7;
	color: white;
	padding: 10px;
}

.notice-content {
	color: #337ab7;
}
.notice-wrapper {
	height:100%; 
	width:250px;
	position: absolute;
	right: 120px;
}
.notice-body {
	border: 3px solid #337ab7; 
	padding:10px;
}