<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyunhye.admin.repository.AdminRepository">

	<resultMap id="boardList" type="board">
		<result property="categoryNo" column="category_no" />
		<result property="categoryItem" column="category_item" />
		<result property="boardNo" column="board_no" />
	</resultMap>
	
	<resultMap id="userList" type="user">
		<result property="userNo" column="user_no" />
		<result property="userId" column="user_id" />
		<result property="userPassword" column="user_password" />
		<result property="userName" column="user_name" />
		<result property="userAuthority" column="user_authority" />
	</resultMap>
	
	<resultMap id="categoryList" type="category">
		<result property="categoryNo" column="category_no" />
		<result property="categoryItem" column="category_item" />
		<result property="categoryEnabled" column="category_enabled" />
	</resultMap>
	
	<resultMap id="noticeList" type="notice">
		<result property="noticeNo" column="notice_no" />
		<result property="userNo" column="user_no" />
		<result property="noticeTitle" column="notice_title" />
		<result property="noticeContent" column="notice_content" />
	</resultMap>
	
	<!-- 카테고리 관리 -->
	<select id="categoryAdd">
		INSERT INTO CATEGORY (
			category_item
		) VALUES (
			#{categoryItem}
		)
	</select>
	
	<select id="categoryListAll" resultMap="categoryList">
		SELECT
			category_no, 
			category_item
		FROM CATEGORY
		WHERE category_enabled = 1
	</select>
	
	<select id="categoryCount" resultType="int">
		SELECT
			count(board_no)
		FROM CATEGORY
		JOIN BOARD
		ON CATEGORY.category_no = BOARD.category_no
		WHERE 
			CATEGORY.category_no = #{categoryNo}
	</select>
	
	<delete id="categoryDelete">
		UPDATE CATEGORY
		SET 
			category_enabled = 0
		WHERE 
			category_no = #{categoryNo}
	</delete>
	
	<update id="categoryModify">
		UPDATE CATEGORY SET
			category_item = #{categoryItem}
		WHERE 
			category_no = #{categoryNo}
	</update>
	
	<!-- 회원 관리 -->
	<select id="userListAll" resultMap="userList">
		SELECT
			user_no,
			user_id, 
			user_name,
			user_authority
		FROM USER
	</select>
	
	<update id="userModify">
		UPDATE USER SET
			user_authority = #{userAuthority}
		WHERE 
			user_no = #{userNo}
	</update>
	
	<delete id="userDelete">
		DELETE FROM USER
		WHERE 
			user_no = #{userNo}
	</delete>
	
	<!-- 공지사항 관리 -->
	<insert id="noticeRegist">
		INSERT INTO NOTICE (
			notice_title,
			notice_content,
			user_no
		) VALUES (
			#{noticeTitle},
			#{noticeContent},
			#{userNo}
		)
	</insert>
	
	<select id="noticeListAll" resultMap="noticeList">
		SELECT
			notice_no,
			notice_title,
			notice_content
		FROM NOTICE
	</select>
	
	<select id="noticeSelect" resultMap="noticeList">
		SELECT
			notice_no,
			notice_title,
			notice_content
		FROM NOTICE
		WHERE
			notice_no = #{noticeNo}
	</select>
	
	<delete id="deleteNotice">
		DELETE FROM NOTICE
		WHERE 
			notice_no = #{noticeNo}
	</delete>
	
	<update id="noticeModify">
		UPDATE NOTICE
		SET 
			notice_title = #{noticeTitle},
			notice_content = #{noticeContent}
		WHERE
			notice_no = #{noticeNo}
	</update>
</mapper>
