<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyunhye.board.boardMapper">

	<resultMap id="list" type="com.hyunhye.board.model.BoardModel">
		<result property="UID" column="UID" javaType="java.lang.Integer" />
		<result property="BID" column="BID" javaType="java.lang.Integer" />
		<result property="CID" column="CID" javaType="java.lang.Integer" />
		<result property="ITEM" column="ITEM" javaType="java.lang.String" />
		<result property="TITLE" column="TITLE" javaType="java.lang.String" />
		<result property="CONTENT" column="CONTENT" javaType="java.lang.String" />
		<result property="DATE" column="DATE" javaType="java.lang.String" />
	</resultMap>

	<select id="list" resultMap="list">
		SELECT BOARD.BID, CATEGORY.ITEM, BOARD.TITLE, BOARD.CONTENT, BOARD.DATE
		FROM BOARD
		LEFT JOIN CATEGORY
		ON BOARD.CID = CATEGORY.CID
	</select>

	<!-- <insert id="regist"> INSERT INTO BOARD (UID, CID, TITLE, CONTENT, DATE) 
		VALUES (${UID}, ${CID}, #{TITLE}, #{CONTENT}, #{DATE}) </insert> -->

	<insert id="regist">
		INSERT INTO BOARD (UID, CID, TITLE, CONTENT, DATE)
		VALUES
		(${UID}, (SELECT CID FROM CATEGORY WHERE ITEM = #{ITEM}), #{TITLE}, #{CONTENT}, #{DATE})
	</insert>

	<select id="read" resultMap="list">
		SELECT BID, UID, CID, TITLE, CONTENT, DATE
		FROM BOARD WHERE BID = #{BID}
	</select>

	<select id="modify" resultMap="list">
		UPDATE BOARD SET
		TITLE =
		#{TITLE},
		CONTENT = #{CONTENT},
		DATE = #{DATE}
		WHERE BID = #{BID}
	</select>

	<delete id="delete"> DELETE FROM BOARD WHERE BID = #{BID} </delete>

	<select id="listAll" resultMap="list">
		SELECT BID, CID, TITLE, CONTENT, DATE
		FROM BOARD
		<include refid="search"></include>
		ORDER BY BID desc, DATE desc
	</select>

	<select id="count" resultType="int">
		SELECT COUNT(*) FROM BOARD
		<include refid="search"></include>
	</select>

	<select id="listAllPaging" resultMap="list">
		<include refid="pagingHeader"></include>
		SELECT BOARD.BID, CATEGORY.ITEM, BOARD.TITLE, BOARD.CONTENT, BOARD.DATE
		FROM BOARD
		LEFT JOIN CATEGORY
		ON BOARD.CID = CATEGORY.CID
		<include refid="search"></include>
		ORDER BY BOARD.BID desc, BOARD.DATE desc
		<include refid="pagingFooter"></include>
		
	</select>

	<sql id="search">
		<choose>
			<when test="searchOption == 'all'">
				WHERE CONTENT like '%${keyword}%'
				OR TITLE like
				'%${keyword}%'
			</when>
			<otherwise>
				WHERE ${searchOption} like '%${keyword}%'
			</otherwise>
		</choose>
	</sql>

	<sql id="pagingHeader">
		SELECT * FROM (
		SELECT @ROWNUM := @ROWNUM + 1 AS rn, A.*
		FROM (
	</sql>
	<sql id="pagingFooter">
		) A, (SELECT @ROWNUM := 0) TMP ) B
		WHERE rn BETWEEN ${start}
		AND ${end}
	</sql>

</mapper>
