<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyunhye.board.repository.BoardRepository">

	<resultMap id="boardList" type="board">
		<result property="userId" column="userId" />
		<result property="boardId" column="boardId" />
		<result property="categoryId" column="categoryId" />
		<result property="name" column="name" />
		<result property="item" column="item" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="date" column="date"/>
		<result property="viewCount" column="viewCount" />
	</resultMap>
	
	<resultMap id="categoryList" type="category">
		<result property="categoryId" column="categoryId" />
		<result property="item" column="item" />
	</resultMap>


	<resultMap id="fileList" type="file">
		<result property="boardId" column="boardId" />
		<result property="fileName" column="fileName" />
		<result property="originName" column="originName" />
		<result property="extension" column="extension" />
	</resultMap>
	
	<insert id="addAttach">
		INSERT INTO FILE (boardId, fileName, originName, extension)
		VALUES
		( (SELECT boardId FROM BOARD ORDER BY boardId desc limit 1) , #{fileName}, #{originName}, #{extension} )
	</insert>
	
	<select id="getAttach" resultMap="fileList">
		select fileId, fileName, originName from FILE where boardId = #{boardId}; 
	</select>
	
	<delete id="deleteAttach">
		DELETE FROM FILE WHERE fileId = #{fileId}
	</delete>
	
	<select id="categoryListAll" resultMap="categoryList">
		SELECT item
		FROM CATEGORY
	</select>

	<select id="boardListAll" resultType="board">
		SELECT BOARD.boardId, CATEGORY.item, USER.name, BOARD.title, BOARD.content, BOARD.date, BOARD.viewCount
		FROM BOARD
		<include refid="join_category"></include>
		<include refid="join_user"></include>
		ORDER BY BOARD.viewCount desc
		limit 0, 10
	</select>

	<insert id="boardRegist">
		INSERT INTO BOARD (userId, categoryId, title, content, date)
		VALUES
		(#{userId}, (SELECT categoryId FROM CATEGORY WHERE item = #{item}), #{title}, #{content}, #{date})
	</insert>

	<select id="boardSelect" resultMap="boardList">
		SELECT BOARD.boardId, BOARD.userId, USER.name, CATEGORY.item, BOARD.title, BOARD.content, BOARD.date, BOARD.viewCount
		FROM BOARD 
		<include refid="join_category"></include>
		<include refid="join_user"></include>
		WHERE boardId = #{boardId}
	</select>

	<select id="boardModify" resultMap="boardList">
		UPDATE BOARD SET
		title = #{title},
		content = #{content},
		date = #{date}
		WHERE boardId = #{boardId}
	</select>

	<delete id="boardDelete"> DELETE FROM BOARD WHERE boardId = #{boardId} </delete>
	
	<select id="listCriteria" resultMap="boardList">
		SELECT BOARD.boardId, USER.name, CATEGORY.item, BOARD.title, BOARD.content, BOARD.date, BOARD.viewCount
		FROM BOARD
		<include refid="join_category"></include>
		<include refid="join_user"></include>
		<if test="searchType != '' or categoryType != '' ">
			<include refid="search"></include>
		</if>
		ORDER BY BOARD.boardId desc, BOARD.date desc
		limit #{startPage}, #{perPageNum}
	</select>
	
	
	<select id="countPaging" resultType="int">
		SELECT COUNT(boardId) FROM BOARD
		<include refid="join_category"></include>
		<if test="searchType != '' or categoryType != '' ">
			<include refid="search"></include>
		</if>
	</select>
	
	<select id="checkUser" resultType="int">
		SELECT userId FROM BOARD
		WHERE boardId = #{boardId}
	</select>
	
	<update id="increaseViewCount">
		UPDATE BOARD SET viewCount = viewCount + 1 
		WHERE boardId = #{boardId}
    </update>
    
	<sql id="search">
		<if test="categoryType != 'null'">
			WHERE CATEGORY.item = #{categoryType}
		</if>
		<if test="searchType != 'null'">
			AND 
			<choose>
				<when test="searchType == 'title_content'">
					( content like CONCAT('%',#{keyword},'%')
					OR title like CONCAT('%',#{keyword},'%') )
				</when>
				<when test="searchType == 'content'">
					 content like CONCAT('%',#{keyword},'%')
				</when>
				<when test="searchType == 'title'">
					 title like CONCAT('%',#{keyword},'%')
				</when>
			</choose>
		</if>
		
	</sql>
	
	<sql id="join_user">
		JOIN  USER
		ON BOARD.userId = USER.userId
	</sql>
	
	<sql id="join_category">
		JOIN CATEGORY
		ON BOARD.categoryId = CATEGORY.categoryId
	</sql>

</mapper>
