<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyunhye.comment.repository.CommentRepository">

	<resultMap id="commentList" type="comment">
		<result property="commentNo" column="comment_no" />
		<result property="commentContent" column="comment_content" />
		<result property="commentDate" column="comment_date" />
		<result property="commentCount" column="comment_count" />
		<result property="commentLikeCount" column="comment_like_count" />
		<result property="commentParentNo" column="comment_parent_no" />
		<result property="commentCommentCount" column="comment_comment_count" />
		<result property="commentLike" column="comment_like" />
		<result property="userNo" column="user_no" />
		<result property="boardNo" column="board_no"/>
	</resultMap>
	
	<!-- 댓글 가져오기 -->
	<select id="selectAnswerComment" resultMap="commentList">
		SELECT 
			COMMENT.user_no, 
			COMMENT.comment_no, 
			COMMENT.comment_content, 
			COMMENT.comment_date, 
			COMMENT.comment_parent_no
		FROM COMMENT
		WHERE
			comment_parent_no = #{commentNo}
		ORDER BY comment_no
	</select>
	
	<!-- 답변 추가 -->
	<insert id="insertAnswer">
		INSERT INTO COMMENT (
			board_no, 
			user_no, 
			comment_content,
			comment_parent_no
		) VALUES (
			#{boardNo}, 
			#{userNo}, 
			#{commentContent},
			#{commentParentNo}
		)
	</insert>
	
	<!-- 답변 리스트 가져오기 -->
	<select id="selectAllAnswerList" resultMap="commentList">
		SELECT 
			COMMENT.board_no, 
			COMMENT.user_no, 
			COMMENT.comment_no, 
			COMMENT.comment_no as number, 
			COMMENT.comment_content, 
			COMMENT.comment_date, 
			count(COMMENT_LIKE.comment_no) as comment_like_count,
			IF((SELECT COMMENT_LIKE.user_no FROM BOARD.COMMENT_LIKE WHERE COMMENT_LIKE.user_no = #{userNo} AND COMMENT_LIKE.comment_no = number), 1, 0) as comment_like,
			(SELECT count(comment_no) FROM BOARD.COMMENT WHERE COMMENT.comment_parent_no = number) as comment_comment_count
		FROM COMMENT
		LEFT JOIN COMMENT_LIKE
			ON  COMMENT.comment_no = COMMENT_LIKE.comment_no
		WHERE 
			board_no = #{boardNo} AND
			comment_parent_no = 0
		group by COMMENT.comment_no
		<if test="tab == 1"> <!-- 최신순 -->
			ORDER BY COMMENT.comment_no
		</if>
		<if test="tab == 2"> <!-- 좋아요 순 -->
			ORDER BY comment_like_count desc
		</if>
	</select>
	
	<!-- 내가 답변한 리스트 -->
	<select id="selectMyAnswersList" resultMap="commentList">
		SELECT
			C.comment_no, 
			C.comment_content, 
			C.comment_date,
			C.board_no
		FROM (
				SELECT
					COMMENT.comment_no, 
					COMMENT.comment_content, 
					COMMENT.comment_date,
					COMMENT.board_no
					FROM COMMENT
					<if test="option==1"> <!-- 내 답변 -->
						WHERE
							COMMENT.user_no = #{userNo} AND
							comment_parent_no = 0
					</if>
					<if test="option==2"> <!-- 내가 좋아요한 답변 -->
						JOIN COMMENT_LIKE
							ON COMMENT.comment_no = COMMENT_LIKE.comment_no
						WHERE
							COMMENT_LIKE.user_no = #{userNo}
					</if>
					ORDER BY COMMENT.comment_no
					LIMIT #{startBoardNo}, #{perPageNum}
			) C
		group by C.comment_no
		ORDER BY C.comment_no
	</select>
	
	<!-- 내 답변 개수 -->
	<select id="selectMyAnswersCount" resultType="int">
		SELECT COUNT(comment_no) 
		FROM COMMENT
		WHERE
			COMMENT.user_no = #{userNo}	AND
			comment_parent_no = 0
	</select>
	
	<!-- 내가 좋아요한 답변 개수 -->
	<select id="selectMyLikedAnswersCount" resultType="int">
		SELECT COUNT(COMMENT.comment_no) 
		FROM COMMENT
		JOIN COMMENT_LIKE
			ON COMMENT.comment_no = COMMENT_LIKE.comment_no
		WHERE
			COMMENT_LIKE.user_no = #{userNo}
	</select>
	
	<!-- 답변 좋아요 -->
	<insert id="insertAnswerLike">
		INSERT INTO COMMENT_LIKE (
			user_no, 
			comment_no
		) VALUES (
			#{userNo}, 
			#{commentNo}
		)
	</insert>
	
	<!-- 답변 좋아요 삭제 -->
	<delete id="deleteAnswerLike">
		DELETE FROM COMMENT_LIKE 
		WHERE
			user_no = #{userNo} AND
			comment_no = #{commentNo}
	</delete>

	<!-- 답변 수정 -->
	<select id="updateAnswer" resultMap="commentList">
		UPDATE COMMENT SET
			comment_content = #{commentContent}
		WHERE 
			comment_no = #{commentNo}
	</select>
	
	<!-- 답변 삭제 -->
	<delete id="deleteAnswer" parameterType="int"> 
		DELETE FROM COMMENT
		WHERE 
			comment_no = #{commentNo} OR
			comment_parent_no = #{commentNo}
	</delete>
	
	<!-- 해당 게시물의 답변 개수 -->
	<select id="selectAnswerCountOfBoard" resultMap="commentList">
		SELECT 
			count(comment_no) as comment_count
		FROM COMMENT 
		WHERE 
			board_no = #{boardNo} AND 
			comment_parent_no = 0
	</select>
	
	<!-- 답변 상세 보기(수정시)-->
	<select id="selectAnswerDetail" resultMap="commentList">
		SELECT 
			COMMENT.comment_no, 
			COMMENT.comment_content, 
			COMMENT.comment_date
		FROM COMMENT
		WHERE 
			comment_no = #{commentNo}
	</select>
	
	<!-- 해당 답변의 작성자 (업으면 0반환) -->
	<select id="checkUser" resultType="int">
		SELECT 
			IF(COUNT(user_no) = 0, 0, user_no) as user_no
		FROM COMMENT
		WHERE 
			comment_no = #{commentNo}
	</select>
	
</mapper>
