<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyunhye.comment.repository.CommentRepository">

	<resultMap id="list" type="comment">
		<result property="userId" column="userId" />
		<result property="boardId" column="boardId"/>
		<result property="commentId" column="commentId"  />
		<result property="content" column="content" />
		<result property="name" column="name" />
		<result property="date" column="date" />
	</resultMap>

	<select id="commentListAll" resultMap="list">
		SELECT COMMENT.content, COMMENT.date, USER.name
		FROM COMMENT
		JOIN  USER
		ON COMMENT.userId = USER.userId
		WHERE boardId = #{boardId}
		ORDER BY commentId
	</select>

	<insert id="commentRegist">
		INSERT INTO COMMENT (boardId, userId, content, date)
		VALUES
		(#{boardId}, #{userId}, #{content', #{date})
	</insert>

	<select id="commentUpdate" resultMap="list">
		UPDATE COMMENT SET
		content = #{content},
		date = #{date}
		WHERE commentId = #{commentId}
	</select>

	<delete id="commentDelete"> 
		DELETE FROM COMMENT WHERE commentId = #{commentId} 
	</delete>

</mapper>
