<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyunhye.comment.repository.CommentRepository">

	<resultMap id="commentList" type="comment">
		<result property="userNo" column="user_no" />
		<result property="userId" column="user_id" />
		<result property="userName" column="user_name" />
		<result property="boardNo" column="board_no"/>
		<result property="commentNo" column="comment_no" />
		<result property="commentContent" column="comment_content" />
		<result property="commentDate" column="comment_date" />
		<result property="commentCount" column="comment_count" />
		<result property="commentLikeCount" column="comment_like_count" />
		<result property="commentParentNo" column="comment_parent_no" />
		<result property="commentCommentCount" column="comment_comment_count" />
	</resultMap>
	
	<select id="commentCommentSelect" resultMap="commentList">
		SELECT 
			USER.user_name, 
			USER.user_id, 
			COMMENT.comment_no, 
			COMMENT.comment_content, 
			COMMENT.comment_date, 
			COMMENT.comment_parent_no
		FROM COMMENT
		JOIN  USER
		ON COMMENT.user_no = USER.user_no
		WHERE
			comment_parent_no = #{commentNo}
		ORDER BY comment_no
	</select>
	
	<select id="commentListAll" resultMap="commentList">
		SELECT 
			USER.user_name, 
			USER.user_id, 
			COMMENT.comment_no, 
			COMMENT.comment_no as number, 
			COMMENT.comment_content, 
			COMMENT.comment_date, 
			USER.user_name,
			count(COMMENT_LIKE.comment_no) as comment_like_count,
			IF((SELECT COMMENT_LIKE.user_no FROM BOARD.COMMENT_LIKE WHERE COMMENT_LIKE.user_no = #{userNo} AND COMMENT_LIKE.comment_no = number), 1, 0) as user_no,
			(SELECT count(comment_no) FROM BOARD.COMMENT WHERE COMMENT.comment_parent_no = number) as comment_comment_count
		FROM COMMENT
		JOIN  USER
		ON COMMENT.user_no = USER.user_no
		LEFT JOIN COMMENT_LIKE
		ON  COMMENT.comment_no = COMMENT_LIKE.comment_no
		WHERE 
			board_no = #{boardNo}
			AND
			comment_parent_no = 0
		group by COMMENT.comment_no
		ORDER BY COMMENT.comment_no
	</select>
	
	<select id="commentListTabAll" resultMap="commentList">
		SELECT 
			USER.user_name, 
			USER.user_id, 
			COMMENT.comment_no, 
			COMMENT.comment_no as number, 
			COMMENT.comment_content, 
			COMMENT.comment_date, 
			USER.user_name,
			count(COMMENT_LIKE.comment_no) as comment_like_count,
			IF((SELECT COMMENT_LIKE.user_no FROM BOARD.COMMENT_LIKE WHERE COMMENT_LIKE.user_no = #{userNo} AND COMMENT_LIKE.comment_no = number), 1, 0) as user_no,
			(SELECT count(comment_no) FROM BOARD.COMMENT WHERE COMMENT.comment_parent_no = number) as comment_comment_count
		FROM COMMENT
		JOIN  USER
		ON COMMENT.user_no = USER.user_no
		LEFT JOIN COMMENT_LIKE
		ON  COMMENT.comment_no = COMMENT_LIKE.comment_no
		WHERE 
			board_no = #{boardNo}
			AND
			comment_parent_no = 0
		group by COMMENT.comment_no
		<if test="tab == 1">
			ORDER BY COMMENT.comment_no
		</if>
		<if test="tab == 2">
			ORDER BY comment_like_count desc
		</if>
	</select>
	
	<select id="selectMyAnswers" resultMap="commentList">
		SELECT
			C.comment_no, 
			C.comment_content, 
			C.comment_date,
			C.board_no
		FROM (
				SELECT
					COMMENT.comment_no, 
					COMMENT.comment_content, 
					COMMENT.comment_date,
					COMMENT.board_no
					FROM COMMENT
					WHERE
						COMMENT.user_no = #{userNo}
						AND
						comment_parent_no = 0
					ORDER BY COMMENT.comment_no
					LIMIT #{startBoardNo}, #{perPageNum}
			) C
		group by C.comment_no
		ORDER BY C.comment_no
	</select>
	
	<select id="answersLikedSelectList" resultMap="commentList">
		SELECT
			C.comment_no, 
			C.comment_content, 
			C.comment_date,
			C.board_no
		FROM (
				SELECT
					COMMENT.comment_no, 
					COMMENT.comment_content, 
					COMMENT.comment_date,
					COMMENT.board_no
					FROM COMMENT
					JOIN COMMENT_LIKE
						ON COMMENT.comment_no = COMMENT_LIKE.comment_no
					WHERE
						COMMENT_LIKE.user_no = #{userNo}
					ORDER BY COMMENT.comment_no
					LIMIT #{startBoardNo}, #{perPageNum}
			) C
		group by C.comment_no
		ORDER BY C.comment_no
	</select>
	
	<select id="countMyAnswersPaging" resultType="int">
		SELECT COUNT(comment_no) 
		FROM COMMENT
		WHERE
			COMMENT.user_no = #{userNo}
			AND
			comment_parent_no = 0
	</select>
	
	<insert id="commentRegist">
		INSERT INTO COMMENT (
			board_no, 
			user_no, 
			comment_content,
			comment_parent_no
		) VALUES (
			#{boardNo}, 
			#{userNo}, 
			#{commentContent},
			#{commentParentNo}
		)
	</insert>
	
	<insert id="commentLike">
		INSERT INTO COMMENT_LIKE (
			user_no, 
			comment_no
		) VALUES (
			#{userNo}, 
			#{commentNo}
		)
	</insert>
	
	<delete id="commenHate">
		DELETE FROM COMMENT_LIKE 
		WHERE
			user_no = #{userNo}
			AND
			comment_no = #{commentNo}
	</delete>

	<select id="commentUpdate" resultMap="commentList">
		UPDATE COMMENT SET
			comment_content = #{commentContent}
		WHERE 
			comment_no = #{commentNo}
	</select>
	
	<delete id="answerDelete" parameterType="int"> 
		DELETE FROM COMMENT
		WHERE 
			comment_no = #{commentNo} 
			OR
			comment_parent_no = #{commentNo}
	</delete>

	<delete id="commentDelete" parameterType="int"> 
		DELETE FROM COMMENT
		WHERE 
			comment_no = #{commentNo} 
	</delete>
	
	<select id="answerHasComment" resultType="int">
		SELECT 
			COUNT(comment_no) 
		FROM COMMENT 
		WHERE 
			comment_parent_no = #{commentNo}
	</select>
	
	<select id="commentCount" resultMap="commentList">
		SELECT 
			board_no, 
			count(comment_no) as comment_count
		FROM COMMENT 
		group by board_no
	</select>
	
	<select id="answerCount" resultMap="commentList" parameterType="int">
		SELECT 
			count(comment_no) as comment_count
		FROM COMMENT 
		WHERE 
			board_no = #{boardNo}
		AND 
			comment_parent_no = 0
	</select>
	
	<select id="commentSelect" resultMap="commentList">
		SELECT 
			USER.user_name, 
			USER.user_id, 
			COMMENT.comment_no, 
			COMMENT.comment_content, 
			COMMENT.comment_date, 
			USER.user_name
		FROM COMMENT
		JOIN  USER
		ON COMMENT.user_no = USER.user_no
		WHERE 
			comment_no = #{commentNo}
	</select>
	
	<select id="commentLastSelect" resultMap="commentList">
		SELECT 
			USER.user_name, 
			USER.user_id, 
			COMMENT.comment_no, 
			COMMENT.comment_content, 
			COMMENT.comment_date, 
			USER.user_name
		FROM COMMENT
		JOIN  USER
		ON COMMENT.user_no = USER.user_no
		WHERE 
			comment_no = (SELECT comment_no FROM COMMENT ORDER BY comment_no desc LIMIT 1)
	</select>
</mapper>
