<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyunhye.contact.repository.ContactRepository">

	<resultMap id="contactList" type="contact">
		<result property="contactNo" column="contact_no" />
		<result property="userNo" column="user_no" />
		<result property="userId" column="user_id" />
		<result property="contactTitle" column="contact_title" />
		<result property="contactContent" column="contact_content" />
		<result property="contactPassword" column="contact_password" />
		<result property="contactDate" column="contact_date" />
		<result property="contactCommentCount" column="contact_comment_count" />
	</resultMap>
	
	<resultMap id="contactCommentList" type="contactComment">
		<result property="contactCommentNo" column="contact_comment_no" />
		<result property="contactNo" column="contact_no" />
		<result property="userNo" column="user_no" />
		<result property="contactCommentContent" column="contact_comment_content" />
		<result property="contactCommentDate" column="contact_comment_date" />
	</resultMap>

	<insert id="contactUsInsert">
		INSERT INTO CONTACT (
			user_no,
			contact_title,
			contact_content,
			contact_password
		) VALUES (
			#{userNo},
			#{contactTitle},
			#{contactContent},
			#{contactPassword}
		)
	</insert>
	
	<select id="contactSelectListAll" resultMap="contactList">
		SELECT 
			C.contact_no,
			C.contact_no as no,
			C.user_no,
			C.user_id,
			C.contact_title,
			C.contact_content,
			C.contact_password,
			C.contact_date,
			C.contact_comment_count
		FROM (
				SELECT 
					contact_no,
					contact_no as no,
					CONTACT.user_no,
					USER.user_id,
					contact_title,
					contact_content,
					contact_password,
					contact_date,
					(select count(1) from CONTACT_COMMENT where CONTACT_COMMENT.contact_no = no) as contact_comment_count
				FROM CONTACT
				JOIN USER
					ON USER.user_no = CONTACT.user_no
				ORDER BY
					CONTACT.contact_no desc
				<if test="option != 2">
					LIMIT #{startBoardNo}, #{perPageNum}
				</if>
			) C
			<if test="option == 2">
				WHERE contact_comment_count = 0
				LIMIT #{startBoardNo}, #{perPageNum}
			</if>
			
	</select>
	
	<select id="contactSelectListCount" resultType="int">
		SELECT COUNT(C.contact_no) 
		<choose>
			<when test="option == 2">
				FROM (
					SELECT 
						contact_no,
						contact_no as no,
						(SELECT count(1) FROM CONTACT_COMMENT WHERE CONTACT_COMMENT.contact_no = no) as contact_comment_count
					FROM CONTACT 
				) C
			WHERE C.contact_comment_count = 0;
			</when>
			<otherwise>
				FROM CONTACT as C
			</otherwise>
		</choose>
	</select>
	
	<select id="contactUsSelectOne" resultMap="contactList">
		SELECT 
			contact_no,
			user_no,
			contact_title,
			contact_content,
			contact_password,
			contact_date
		FROM CONTACT
		WHERE
			contact_no = #{contactNo}	
	</select>

	<select id="contactUsPasswordSelectCount" resultType="int">
		SELECT COUNT(contact_password)
		FROM CONTACT
		WHERE
			contact_no = #{contactNo}
	</select>
	
	<select id="contactUsPasswordCheck"  resultType="int">
		SELECT COUNT(contact_password)
		FROM CONTACT
		WHERE
			contact_no = #{contactNo} AND
			contact_password = #{contactPassword}
	</select>
	
	<delete id="contactUsDelete">
		DELETE FROM CONTACT
		WHERE
			contact_no = #{contactNo}
	</delete>
	
	<insert id="contactCommentInsert">
		INSERT INTO CONTACT_COMMENT (
			user_no,
			contact_no,
			contact_comment_content
		) VALUES (
			#{userNo},
			#{contactNo},
			#{contactCommentContent}
		)
			
	</insert>
	
	<select id="contactCommentLastSelect" resultMap="contactCommentList">
		SELECT
			contact_no,
			contact_comment_no,
			contact_comment_content,
			contact_comment_date
		FROM CONTACT_COMMENT
		ORDER BY contact_comment_no desc 
		LIMIT 1
	</select>
	
	<select id="contactCommentSelectListAll" resultMap="contactCommentList">
		SELECT
			contact_no,
			contact_comment_no,
			contact_comment_content,
			contact_comment_date
		FROM CONTACT_COMMENT
		WHERE
		 	contact_no = #{contactNo}	
	</select>
	
	<delete id="contactCommentDelete">
		DELETE FROM CONTACT_COMMENT
		WHERE contact_comment_no = #{contactCommentNo}	
	</delete>
</mapper>
