<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyunhye.board.fileMapper">
	<resultMap id="list" type="com.hyunhye.board.model.FileModel">
		<result property="BID" column="BID" javaType="java.lang.Integer" />
		<result property="FILENAME" column="FILENAME" javaType="java.lang.String" />
		<result property="ORIGINNAME" column="ORIGINNAME" javaType="java.lang.String" />
		<result property="EXTENSION" column="EXTENSION" javaType="java.lang.String" />
	</resultMap>
	
	<insert id="addAttach">
		INSERT INTO FILE (BID, FILENAME, ORIGINNAME, EXTENSION)
		VALUES
		( (SELECT BID FROM BOARD ORDER BY BID desc limit 1) , '${FILENAME}', '${ORIGINNAME}', '${EXTENSION}' )
	</insert>
</mapper>