<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyunhye.user.repository.UserRepository">

	<resultMap id="list" type="user">
		<result property="userNo" column="user_no"/>
		<result property="userId" column="user_id" />
		<result property="userPassword" column="user_password" />
		<result property="userName" column="user_name" />
	</resultMap>

	<insert id="userRegist">
		INSERT INTO USER (
			user_id, 
			user_password, 
			user_name
		) VALUES (
			#{userId},
			password(#{userPassword}), 
			#{userName}
		)
	</insert>


	<delete id="userDelete">
		DELETE FROM USER 
		WHERE 
			user_id = #{userId}
	</delete>

	<select id="loginCheck" resultType="int">
		SELECT 
			count(user_no) 
		FROM USER
		WHERE 
			user_id = #{userId} AND 
			user_password = password(#{userPassword})
	</select>

	<select id="viewUser" resultMap="list">
		SELECT
			user_no,
			user_name,
			user_id
		FROM USER
		WHERE 
			user_id = #{userId} AND 
			user_password = password(#{userPassword})
	</select>
	
	<select id="userSelect" resultType="Integer" parameterType="String">
		SELECT COUNT(*)
		FROM USER
		WHERE user_id = #{userId}
	</select>
</mapper>
