<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyunhye.user.repository.UserRepository">

	<resultMap id="list" type="user">
		<result property="userId" column="userId"/>
		<result property="id" column="id" />
		<result property="password" column="password" />
		<result property="name" column="name"/>
		<result property="sessionKey" column="sessionKey" />
		<result property="sessionLimit" column="sessionLimit" />
	</resultMap>

	<insert id="userRegist">
		INSERT INTO USER (id, password, name) VALUES
		(#{id},
		password(#{password}), #{name})
	</insert>


	<delete id="userDelete">
		DELETE FROM USER WHERE id = #{id}
	</delete>

	<select id="loginCheck" resultType="int">
		SELECT count(userId) FROM USER
		WHERE id = #{id} AND password = password(#{password})
	</select>

	<select id="viewUser" resultMap="list">
		SELECT
		userId,
		name,
		id
		FROM USER
		WHERE id = #{id} AND password = password(#{password})
	</select>
	
	<select id="userSelect" resultType="Integer" parameterType="String">
		SELECT
		COUNT(*)
		FROM USER
		WHERE id = #{id}
	</select>
</mapper>
