<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyunhye.board.userMapper">

	<resultMap id="list" type="com.hyunhye.user.model.UserModel">
		<result property="UID" column="UID" javaType="java.lang.Integer" />
		<result property="ID" column="ID" javaType="java.lang.String" />
		<result property="PASSWORD" column="PASSWORD" javaType="java.lang.String" />
		<result property="NAME" column="NAME" javaType="java.lang.String" />
	</resultMap>

	<select id="list" resultMap="list">
		SELECT ID, NAME, PASSWORD FROM
		USER
	</select>


	<insert id="regist">
		INSERT INTO USER (ID, PASSWORD, NAME) VALUES
		(#{ID},
		#{PASSWORD}, #{NAME})
	</insert>


	<delete id="delete">
		DELETE FROM USER WHERE ID = #{ID}
	</delete>

	<select id="loginCheck" resultType="String">
		SELECT NAME FROM USER
		WHERE ID = #{ID} AND PASSWORD = #{PASSWORD}
	</select>

	<select id="viewUser" resultMap="list">
		SELECT
		UID,
		NAME,
		ID
		FROM USER
		WHERE ID = #{ID} AND PASSWORD = #{PASSWORD}
	</select>
</mapper>
